.blog-card{
    width: 845px;
    height: 821px;
}
.blog-card img{
    width: 845px;
    height: 450px;
    margin-top: 30px;
}
.blog-info{
    display:flex;
    justify-content: space-between;
}
.blog-profile{
    display: flex;
}
.blog-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile-name{
    margin-left: 24px;
}
.name-person{
    margin-bottom: 0px;
    width: 93px;
    height: 38px;
}
.date{
    height: 26px;
}
.btn-markAsRead{
    border-color: skyblue;
    /* border-style: none; */
}
.minRead{
    display: flex;
    gap: 10px;
}
.minRead .icon{
    margin-top: 17px;
    transition: all 0.3s linear;
}

.minRead:hover .icon{
    transform: scale(1.5);
    color:gold;
} 

