.blog-card{
    width: 845px;
    height: 821px;
}
.blog-card img{
    width: 845px;
    height: 450px;
    margin-top: 30px;
}
.blog-info{
    display:flex;
    justify-content: space-between;
}
.blog-profile{
    display: flex;
}
.blog-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile-name{
    margin-left: 24px;
}
.name-person{
    font-size: x-large;
    margin-bottom: 0px;
    width: 93px;
    height: 38px;
}
.date{
    height: 26px;
}
.btn-markAsRead{
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #6047ec;
    margin-top: 21px;
    margin-bottom: 38px;
    border: none;
    cursor: pointer;
}
.minRead{
    display: flex;
    gap: 10px;
}
.minRead .icon{
    cursor:pointer;
    margin-top: 17px;
    transition: all 0.3s linear;
}

.minRead:hover .icon{
    transform: scale(1.5);
    color:gold;
} 

.title{
    margin-top: 1px;
}

.hash{
    font-size: large;
}

