.question-container{
    background-color:thistle;
}

.question-container h4{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blue;
}
.question-container p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
}
